body{
    background-color: grey;
}

.App{
    text-align: center;
}

.input-group{
    width: 50%;
    padding: 5%;
}

.card{
    max-width: 78%;
}

.card-title{
    position: absolute;
    padding: 20px;
}

.card-date{
    position: absolute;
    padding-left: 20px;
    margin-top: 80px;
}

.card-temp{
    position: absolute;
    padding-left: 20px;
    margin-top: 260px;
    font-size: 50px;
}

.card-desc{
    position: absolute;
    padding-left: 20px;
    margin-top: 320px;
    font-size: 40px;
}
